body {
    background-image: url(../img/landingPageBack.svg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-position: center; */
    font-family: 'Raleway', sans-serif;
    background-color: black;

    /* max-width: 1440px; */
    /* margin: 0 auto; */
    padding: 0;
    margin: 0;

}



.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


.header {
    background-color: transparent;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px;
}

nav .logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    gap: 10px;

}

.logo-div img {
    width: 60px;
    height: 62px;

}

.logo-div .logo-text {
    font-size: 30px;
    line-height: 80px;
    letter-spacing: -2%;
    font-weight: 400;
    color: var(--landing-page-logo-color);
}



.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 200px;
    padding: 0px 120px;


}

.content .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    color: var(--card-number-color);
}

.content .info-text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: var(--card-number-color);
}

.content .desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--card-number-color);
}

.inputBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 16px;
}

.inputBtn input {
    background-color: transparent;
    padding: 18px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--border-color);
    width: 368px;
    color: var(--input-text-color);
    font-size: 16px;


}

.inputBtn input::placeholder {
    font-size: 16px;
    color: var(--border-color);
}

.get-started-btn {
    font-size: 24px;
    cursor: pointer;
    font-weight: 500;
    line-height: 100%;

    i {
        font-size: 18px;
    }

}




/* 2 */

.second-section {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 190px;
    /* margin: 0 auto; */

}


.derscription {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--card-number-color);

}




.derscription .title-text {
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;

    padding: 0px;
    margin: 0px;



}

.derscription .desc-text {
    font-size: 20px;
    /*  figma olcusu uymur 4 px azaltdim  */
    line-height: 30px;
    padding: 0px;
    margin: 0px;


}


.image-div {
    position: relative;
    width: 50%;
}

.image-div .screen {
    position: absolute;
    left: 72px;
    top: 86px;
    z-index: -1;
}






/* 3 */
.section-third , .section-kids {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 190px;
    gap: 12px;
    border-top: 6px solid grey;
    /* border-bottom: 3px solid grey; */


}



.section-kids .derscription .title-text{
    font-size: 46px;      /*  2 px asagidi figmadan olcu qacir 1440 da*/

}



.contact-info{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    color: var(--card-number-color);
    padding-bottom: 140px;
    border-top: 6px solid grey;
    border-bottom: 6px solid grey;
}

.contact-info .contact-title{
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;


}
.contact-info input, .contact-info textarea{
    padding: 18px 16px;
    outline: none;
    border: 1px solid var(--border-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--input-text-color);
    width: 478px;
    border-radius: 4px;
    background-color: transparent;


}

.contact-info textarea{
    /* width: 500px; */
    height: 80px;
    resize: none;
    
}


.send-btn{
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    padding: 12px 50px;

}


/* accordion */




 .faq-area {
    border-bottom: 6px solid grey;
  padding: 72px 0px;
  color: var(--card-number-color);
}

.faq-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  text-align: center;
  margin-bottom: 32px;
}

.faq-wrapper {
  width: 700px;
  margin: 0 auto;
}

.faq-card {
  margin-bottom: 8px;
  background-color: var( --bg-color);
}

.faq-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.faq-head:hover {
  background-color: #343030;
}

.faq-question {
  font-size: 18px;
}

.faq-icon {
  font-size: 30px;
  transition: transform 0.3s ease;
}

.faq-icon.spin {
  transform: rotate(45deg);
}

.faq-body {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background-color: #222020;
  opacity: 0;
  transition: all 0.3s ease;
}

.faq-body.active {
  max-height: 220px;
  padding: 20px;
  opacity: 1;
}
