body {
    background-image: url(../img/landingPageBack.svg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;


}

section{
    padding: 0px 168px;
    /* height: 100vh; */
}

.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


.header {
    background-color: transparent;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav .logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;

}

.logo-div img {
    width: 60px;
    height: 62px;

}

.logo-div .logo-text {
    font-size: 30px;
    line-height: 80px;
    letter-spacing: -2%;
    font-weight: 400;
    color: var(--landing-page-logo-color);
}



.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.content .title{
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    color: var(--card-number-color);
}

.content .info-text{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: var(--card-number-color);
}

.content .desc{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--card-number-color);
}

.inputBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 16px;
}

.inputBtn input{
    background-color: transparent;
    padding: 18px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--border-color);
    width: 368px;
    color: var(--input-text-color);
    font-size: 16px;

    
}

.inputBtn input::placeholder{
    font-size: 16px;
    color: var(--border-color);
}

.get-started-btn{
    font-size: 24px;
    cursor: pointer;
    font-weight: 500;
    line-height: 100%;
    /* margin-left: 50px; */

    i{
        font-size: 18px;
    }
    
}



