body {
  font-family: "Raleway", sans-serif !important;
}

.movies-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: var(--bg-color);
}

/* TABLE SECTION */
.section {
  padding: 0 24px;
  margin-top: 30px;
}

/* TABLE */
.table {
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  width: 95%;
  margin: 24px 0;
}

.table img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.table td,
.table th {
  vertical-align: middle;
  height: 65px;
}

table .title-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

table .title-movie p {
  margin: 0;
}

/* OPERATION ICONS */
.operation i:first-child {
  margin-right: 30px;
}

.operation i {
  cursor: pointer;
  font-size: 18px;
}

.operation i:nth-child(1) {
  color: green;
}

.operation i:nth-child(2) {
  color: red;
}

/* ===========================
   MODAL BASE
=========================== */

.actorModal {
  border: none;
  padding: 0;
  background: transparent;
}

.actorModal::backdrop {
  background: rgba(0, 0, 0, 0.65);
}

/* Create/Edit modal qalır */
.actorModal .modalBox {
  width: 520px;
  max-width: calc(100% - 40px);
  padding: 50px 40px;
  border-radius: 18px;
  background: #2a2a2a;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* INPUT */
.actorModal .modalInput {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #3a3a3a;
  background: transparent;
  padding: 0 20px;
  color: white;
  outline: none;
  font-size: 14px;
}

.actorModal .modalInput::placeholder {
  color: #7b7b7b;
}

.actorModal .modalInput:focus {
  border-color: #8c52ff;
}

/* SUBMIT BUTTON (Create/Edit üçün) */
.actorModal .modalSubmit {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: none;

  background: linear-gradient(90deg, #8c52ff 0%, #a855f7 100%);
  color: white;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
}

.lowerAside {
  margin-bottom: 10px;
}