body {
  font-family: 'Raleway', sans-serif !important;
}

.movies-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: var(--bg-color);
}

/* TABLE SECTION */
.section {
  padding: 0 24px;
  margin-top: 30px;
}

/* TABLE */
.table {
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  width: 95%;
  margin: 24px 0;
}

.table img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.table td,
.table th {
  vertical-align: middle;
  height: 65px;
}

table .title-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

table .title-movie p {
  margin: 0;
}

/* OPERATION ICONS */
.operation i:first-child {
  margin-right: 30px;
}

.operation i {
  cursor: pointer;
  font-size: 18px;
}

.operation i:nth-child(1) {
  color: green;
}

.operation i:nth-child(2) {
  color: red;
}




/* ===========================
   MODAL
=========================== */

