.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 0;
  gap: 18px;
  background: #0f0f0f;
  z-index: 999;
}

.menu__item {
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
  border-radius: 12px;
  transition: 0.2s;
}


.menu__item img {
  width: 32px;
  height: 32px;
  display: block;
}
.menu__item img.image {
  width: 50px;
  height: 50px;
}
/* PAGE OFFSET (menu fixed olduğuna görə) */
body {
  background: #121212;
  color: #fff;
}

.search-result {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 110px;
  align-items: center;
  text-align: center;
}

.search-result-panel {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.search-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-input {
  background-color: transparent;
  border: 1px solid #8a8a8a;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  width: 300px;
}

.movie-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
}
.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  gap: 12px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.movie-category-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D1D1D80;
  padding: 4px 8px;
  border-radius: 4px;
  border-radius: 8px;
  width: fit-content;
}
.movie-category {
  font-size: 14px;
  color:#0FEFFD;
  margin: 0;
}
.movie-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
